/* IMPORTS */

@import 'partials/fonts';
@import 'partials/reset';
@import 'partials/general';
@import 'partials/sidebar';
@import 'partials/main-nav';

/* GENERAL */
html,
body {
    height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-family: "MediciText";
	color: red;
}

img {
    max-width: 100%;
}

.center-960 {
    max-width: 960px;
    margin: 0 auto;
}

#site-container {
    position: relative;
    
    > .center-960 {
        @media screen and ( max-width: 1280px )
        {
            margin: 0 160px;
        }
    }
}

#footer {
    margin-top: 50px;
}

/* ================================================== */
/* INDEX HOME */

#body-home {
    
    /* ------------------------- */
    /* BANNER  */
    
    #banner {
        > a {
            background-image: url( '../images/banner-home.png' );
            background-position: center;
            background-size: cover;
            
            display: block;
            height: 474px;
        }
    }
    
    /* ------------------------- */
    /* HEADER */
    
    header {
        text-align: center;
        margin: 25px 0;
        
        h1 {
            font-size: 60px;
            font-weight: 400;
            margin-bottom: 45px;
        }
        
        h2 {
            font-size: 34px;
        }
    }
    
    /* ------------------------- */
    /* CONTENT */
    
    .content {
        margin-bottom: 50px;
        
        p {
            line-height: 1.4;
        }
    }
    
    /* ------------------------- */
    /* FOOTER */
    
    footer {
        text-align: center;
        
        span {
            font-size: 80px;
        }
        
        img {
            max-width: 176px;
            vertical-align: middle;
        }
    }
}