/* IMPORTS */

@import 'partials/fonts';
@import 'partials/reset';
@import 'partials/general';
@import 'partials/nav';


/* MIXINS */

@mixin suffix( $font-size )
{
	vertical-align: top;
	font-size: $font-size;
}


/* GENERAL */

body {
	font-family: 'Open Sans', sans-serif;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* CUSTOM CLASS */

.suffix-title {
	@include suffix( 2.2rem );
}

.suffix-style-1 {
	@include suffix( .8rem );
}

.h2-style-1 {
	text-align: center;
	color: blue;
	margin: 5px 0 30px 0;	
	font-size: 22px;
}


/* LAYOUT */

.center-960 {
	margin: 0 auto;
	max-width: 960px;
}


/* SECTIONS */

.header
{
	margin-bottom: 15px;
	
	> h1 {
		font-family: "MediciText";
		font-weight: 400;
		font-size: 60px;
		
		text-align: center;
		text-transform: capitalize;
		
		color: red;
		margin-bottom: 50px;
	}
	
	> h2 {
		font-size: 35px;
		text-align: center;
		font-weight: 400;
		margin-bottom: 25px;
	}
}

.body
{
	min-height: 500px;
	padding: 15px 0;
	
	a {
		color: red;
		text-decoration: underline;
	}
	
	.content {
		
		article {
			
			margin-bottom: 50px;
			
			p {
				padding: 0 40px;
				text-align: justify;
				line-height: 1.5rem;
			}
		}
		
	}
	
	footer {
		margin-top: 50px;
		
		p {
			text-align: center;
			font-size: 2rem;	
		}
	}
}

.footer {
	margin-top: 50px;
	text-align: center;
}





/* ================================================== */
/* --- SIDEBAR --- */

#sidebar 
{
	position: fixed;
	top: 25px;
	left: 25px;
	width: 170px;
	
	li {
		display: block;
		color: red;
		height: 65px;
		line-height: 60px;
	}
	
	a {
		color: red;
		font-size: 2rem;
	}
	
	#languages 
	{
		a {
			
			&:hover {
				
				.image {
					display: none;
				}
				
				.text {
					display: block;
				}
			}
			
			.text {
				display: none;
			}
		}
	}
	
	#others {
		
		#justforfun {
			font-size: 1.5rem;
		}
		
		#other-info {
			font-size: .9rem;
		}
		
		#other-groups {
			
			display: block;
			font-size: 1.3rem;
			
			&:hover {

				span {
					display: none !important;
				}
				
				a {
					display: block;
				}
			}
			
			.size-1 {
				font-size: 1.1rem;
			}
			
			a {
				display: none;
				font-size: 1.3rem;
				line-height: 40px;
				height: 40px;
			}
		}
		
	}
}



/* ================================================== */
/* --- HOME PAGE --- */

#banner-home
{
	display: block;
	margin: 0 auto;
}

#body-footer-home {
	text-align: center;
	
	img {
		max-width: 176px;
		vertical-align: middle;
	}
	
	span {
		font-size: 5rem;
		font-weight: 700;
		padding: 0 25px;
	}
}

/* ================================================== */
/* PAGE CONTENT */

#body-content-events {
	> article {
		> p {
			font-size: 1.45rem;
			font-weight: 700;
			line-height: 1.4;
		}
	}
}


/* ================================================== */
/* CUSTOM LIST STYLE */

@mixin custom-list( $image-width: initial, $image-height: auto, $h2-size: initial )
{		
	li {
		display: table; /* wraps whole element with floated elements inside */
		width: 100%;
		min-height: 200px;
		margin-bottom: 50px;
		
		&:nth-child(odd)
		{
			.image {
				float: left;
			}
			.description {
				margin-left: $image-width;
			}
		}
		
		&:nth-child(even)
		{
			.image {
				float: right;
			}
			.description {
				margin-right: $image-width;
			}
		}
		
		.image {
			max-width: $image-width;
			height: $image-height;
		}
		
		.description 
		{
			padding: 0 25px;
			
			h2 {
				text-align: center;
				color: blue;
				margin: 5px 0 30px 0;	
				font-size: $h2-size;
			}
			
			p {
				text-align: justify;
				line-height: 1.5;
			}
		}
	}
}

/* GALLERY PAGE */
#list-style-gallery
{	
	@include custom-list( 250px, 250px, 22px );
}

/* OUR HISTORY PAGE */
#list-style-our-history-01
{
	text-align: center;
	
	li {
		display: inline-block;
		vertical-align: top;
		padding: 24px 12px;
		
		p {
			font-size: 1.5rem;
		}
		
		.image {
			
			img {
				width: auto;
				height: 370px;
			}
		}
	}
}


#list-style-our-history-02
{
	@include custom-list( 500px, auto, 22px );
	li {
		.description {
			p {
				margin-top: 150px !important;
			}
		}
	}
}

/* HISTORY PAGE */
#list-style-history {
	@include custom-list( 350px, auto, 22px );
}

/* OTHER INFORMATIONS */
#list-style-other-informations {
	@include custom-list( 250px, auto, 22px );
}

/* EVENTS PAGE */
#list-style-events {
	
	margin-top: 50px;
	
	li {
		display: inline-block;
		padding: 1%;
		vertical-align: top;
		max-width: 30%;
		
		.image {

			img {
				width: 100%;
				height: 250px;
			}
		}
	}
}

/* JUST FOR FUN PAGE */
#list-style-just-for-fun {
	li {
		vertical-align: top;
		display: inline-block;
		max-width: 33%;

		.description {
			margin-top: 20px;
			
			p {
				padding: 0;
			}
		}
	}
}

/* MEMBERSHIP PAGE */
#list-style-membership {
	margin-top: 50px;
	text-align: center;
	
	li {
		display: block;
		
		> div {
			display: inline-block;
			padding: 0 50px;
			width: 40%;
		}
		
		img {
			height: 300px;
		}
		
		.image {
			img {
				padding: 0 40px;
			}
		}
		
		.coat-of-arms {
			
		}
	}
}