/* ================================================== */
/* --- FONTS --- */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

@font-face {
	font-family: "MediciText";
	src: url('../fonts/MediciText.ttf');
}



/* ================================================== */
/* --- LANGUAGES --- */

#languages {
	position: fixed;
	top: 25px;
	left: 25px;
	width: 170px;
}

#languages a {
	
	display: block;
	text-align: left;
	color: red;
	font-size: 2rem;
	
	height: 65px;
	line-height: 60px;
	
	position: relative;
}

/* hides all the span */
#languages a > span {
	display: none;
}

/* show only the first span */
#languages a > span:first-child {
	display: block;
}

/* hides all the span */
#languages a:hover > span {
	display: none !important;
}

#languages a:hover > span:last-child {
	display: block !important;
	cursor: hand;
	cursor: pointer;
}
/*
.no-hover:hover > span {
	display: block !important;
}

.no-hover:hover > span:last-child {
	display: none !important;
}*/



/* ================================================== */
/* --- SIDEBAR --- */

#sidebar 
{
	position: fixed;
	top: 25px;
	right: 15px;
}

#sidebar a 
{
	display: inline-block;
	text-align: left;
	
	color: red;
	font-size: 1.4rem;
	
	width: 100%;
	height: 50px;
	line-height: 50px;
}

#sidebar img 
{
	width: 50px;
	height: 50px;
}



/* ================================================== */
/* --- GENERAL --- */


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

ul {
	font-size: 0;
}

li {
	font-size: 1rem;
	list-style-type: none;
}

a {
	text-decoration: none;
}


/* ============================== */
/* --- CUSTOM CLASS --- */

.container960
{
	max-width: 960px;
	margin: 0 auto;
	overflow: auto;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.h1-style1 {
	font-family: "MediciText";
	text-align: center;
	font-size: 60px;
	color: red;
	font-weight: normal;
}

#header
{
	margin-bottom: 15px;
}

#header > h1
{
	margin-bottom: 50px;
	text-transform: capitalize;
}

#body
{
	min-height: 500px;
	padding: 15px 0;
}

#footer {
	margin-top: 50px;
	text-align: center;
}



/* ================================================== */
/* --- HOME PAGE --- */


/* ============================== */
/* --- HEADER --- */

#banner-home
{
	display: block;
	margin: 0 auto;
}

/* ============================== */
/* --- CONTENT --- */

#body-content-home > h2 
{
	font-size: 35px;
	text-align: center;
	font-weight: normal;
	margin-bottom: 25px;
}

#body-content-home > p 
{
	padding: 0 40px;
	text-align: justify;
	/*text-indent: 25px;*/
}



/* ================================================== */
/* --- GALLERY PAGE --- */


/* ============================== */
/* --- CONTENT --- */

#body-content-gallery > ul > li 
{
	width: 100%;
	min-height: 300px;
}

#body-content-gallery > ul > li > .gallery-image > img 
{
	width: 250px;
	height: 250px;
	float: left;
}

#body-content-gallery > ul > li:nth-child(even) > .gallery-image > img
{
	float: right;
}

#body-content-gallery > ul > li > .gallery-image-desc 
{
	width: 710px;
	float: left;
	padding: 0 25px;
}

#body-content-gallery > ul > li > .gallery-image-desc  > h2 
{
	text-align: center;
	padding-bottom: 30px;
	font-size: 22px;
	color: blue;
}

#body-content-gallery > ul > li > .gallery-image-desc  > p 
{
	text-align: justify;
}



/* ================================================== */
/* --- EVENTS PAGE --- */


/* ============================== */
/* --- CONTENT --- */

#body-content-events > ul > li > img
{
	width: 500px;
	float: left;
}

#body-content-events > ul > li > div
{
	float: left;
	width: 460px;
}

#body-content-events > ul > li > div > h2
{
	text-align: center;
	padding-bottom: 30px;
	font-size: 27px;
	color: blue;
}

/* ================================================== */
/* OTHER INFORMATION PAGE */

#body-content-other-informations > ul > li {
	display: block;
	width: 100%;
	clear: both;
	overflow: auto;
}

#body-content-other-informations > ul > li .other-informations-image > img {
	width: 200px;
	float: left;
}

#body-content-other-informations > ul > li:nth-child(even) .other-informations-image > img {
	float:  right;
}

/* ================================================== */
/* HISTORY PAGE */

.list-style-1 > li 
{
	width: 100%;
	margin-bottom: 25px;
	overflow: auto;
}

.list-style-1 > li > .image > img {
	width: 250px;
	height: 250px;
	float: left;
}

.list-style-1 > li:nth-child(even) > .image > img {
	float: right;
}

.list-style-1 > li > .description {
	width: 710px;
	float: left;
	padding: 0 25px;
}

.list-style-1 > li > .description > h2 
{
	text-align: center;
	padding-bottom: 30px;
	font-size: 22px;
	color: blue;
}

.list-style-1 > li > .description > p 
{
	text-align: justify;
}