@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

@font-face {
	font-family: "MediciText";
	src: url('fonts/MediciText.ttf');
}

/* LANGUAGES */

#languages {
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -600px;
}

#languages a {
	display: inline-block;
	width: 120px;
	text-align: left;
	color: red;
	text-decoration: none;
	font-size: xx-large;
	line-height: 50px;
}

#languages a span:last-child {
	display: none;
}

#languages a:hover span:first-child {
	display: none;

}

#languages a:hover span:last-child {
	display: inline-block;

}

/* SIDEBAR */

#sidebar {
	position: fixed;
	top: 0;
	right: 50%;
	margin-right: -675px;
}

#sidebar a {
	display: inline-block;
	width: 175px;
	text-align: left;
	color: red;
	text-decoration: none;
	font-size: xx-large;
	line-height: 50px;
}

#sidebar img {
	width: 50px;
	height: 50px;
}

* {
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none;
}

body {
	background: white;
}

#container {
	width: 960px;
	margin: 0 auto;
}

#content {
	min-height: 500px;
}

#content h1 {
	font-family: "MediciText";
	text-align: center;
	font-size: 60px;
	color: red;
	font-weight: normal;
}

#content img {
	width: 100%;
}

#content h2 {
	font-size: 40px;
	text-align: center;
	font-weight: normal;
}

#content p {
	font-family: 'Open Sans', sans-serif;
	/*text-indent: 25px;*/
}

footer {
	text-align: center;
}